@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


<body class="login-page">
<!-- Login form -->
<div class="container mt-5">
    <div class="login-container">
        <h1>Login</h1>
        <div class="form-container">
                <form action="@Url.Action("Booking", "Booking")">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
                <p>Don't have an account? <a href="@Url.Action("SignUp", "User")">Sign up</a></p>
        </div>
    </div>
</div>
</body>
