

@{
    Layout = "_Layout";
}


<div class="wrapper">
    <div class="single-box">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-seat" viewBox="0 0 16 16">
                <path d="M10 3c0 1.313-.304 2.508-.8 3.4a2 2 0 0 0-1.484-.38c-.28-.982-.91-2.04-1.838-2.969a8 8 0 0 0-.491-.454A6 6 0 0 1 8 2c.691 0 1.355.117 1.973.332Q10 2.661 10 3m0 5q0 .11-.012.217c1.018-.019 2.2-.353 3.331-1.006a8 8 0 0 0 .57-.361 6 6 0 0 0-2.53-3.823 9 9 0 0 1-.145.64c-.34 1.269-.944 2.346-1.656 3.079.277.343.442.78.442 1.254m-.137.728a2 2 0 0 1-1.07 1.109c.525.87 1.405 1.725 2.535 2.377q.3.174.605.317a6 6 0 0 0 2.053-4.111q-.311.11-.641.199c-1.264.339-2.493.356-3.482.11ZM8 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
            </svg>
        </div>
        <div class="content">
            <h2>Comfortable Seating</h2>
            <p>Enjoy spacious and comfortable seating arrangements for a relaxing journey.</p>
            <p>Our seats are designed to provide maximum comfort throughout your travel.</p>
        </div>
    </div>

    <div class="single-box">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-snow" viewBox="0 0 16 16">
                <path d="M12 1v4h1.527l-.63 2H4.103l-.63-2H5V1h1v4h2.818L8 7.618 9.182 5H12V1zM6.818 10H4v4h1v-3h2v3h1v-4h-2.818L8 10.382 6.818 13zM11 10v3h1v-3h-1z" />
            </svg>
        </div>
        <div class="content">
            <h2>Air Conditioning</h2>
            <p>Experience a cool and comfortable journey with our efficient air conditioning system.</p>
            <p>Our air conditioning ensures a pleasant atmosphere inside the bus at all times.</p>
        </div>
    </div>

    <div class="single-box">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wifi" viewBox="0 0 16 16">
                <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.44 12.44 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049" />
                <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z" />
            </svg>
        </div>
        <div class="content">
            <h2>Free WiFi</h2>
            <p>Stay connected on the go with complimentary WiFi services.</p>
            <p>Our WiFi network ensures seamless connectivity throughout your journey.</p>
        </div>
    </div>

    <div class="single-box">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z" />
            </svg>
        </div>
        <div class="content">
            <h2>Better Management</h2>
            <p>Experience efficient and organized management throughout your journey.</p>
            <p>Our team ensures smooth coordination and timely assistance for a hassle-free travel experience.</p>
        </div>
    </div>

    <div class="single-box">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shower" viewBox="0 0 16 16">
                <path d="M8 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0V1.5zM5.5 4a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0V4zm6-2a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0V2.5zM5 2a2 2 0 0 1-2 2h-.5a2.5 2.5 0 1 1 0-5H3a1 1 0 0 1 1 1v3.5a.5.5 0 0 1-1 0V2H2v3.5a2.5 2.5 0 0 0 5 0V3a1 1 0 0 0-1-1H5zm8 2a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0V4z" />
                <path d="M3.5 6.5a.5.5 0 0 0-1 0V7a.5.5 0 0 0 1 0v-.5zm0 2a.5.5 0 0 0-1 0V9a.5.5 0 0 0 1 0v-.5zm9-2a.5.5 0 0 0-1 0V7a.5.5 0 0 0 1 0v-.5zm0 2a.5.5 0 0 0-1 0V9a.5.5 0 0 0 1 0v-.5zM12 6.5a.5.5 0 0 0-1 0V7a.5.5 0 0 0 1 0v-.5zm0 2a.5.5 0 0 0-1 0V9a.5.5 0 0 0 1 0v-.5zM8 11.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0v-1zm-2-2a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0v-1zm6-2a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0v-1z" />
            </svg>
        </div>
        <div class="content">
            <h2>Rest Stops with Washroom Facilities</h2>
            <p>Make refreshing stops with clean washroom facilities during your travel.</p>
            <p>Our rest stops are equipped with hygienic washrooms for your convenience and comfort.</p>
        </div>
    </div>
</div>